<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Editing Book</h1>
        <%= render 'layouts/errors', model: @book %>
        <%= form_for(@book) do |f| %>
            <div class="field row">
                <label for="book_title">Title</label>
                <%= f.text_field :title, class: "col-xs-12 book_title" %>
            </div>
            <div class="field row">
                <label for="book_opinion">Opinion</label>
                <%= f.text_area :body, class: "col-xs-12 book_body" %>
            </div>
            <div class="actions row">
                <%= f.submit "Update Book", class: "btn btn-primary col-xs-12" %>
            </div>
        <% end %>
        <%= link_to "Show", book_path(@book) %>
        |
        <a href="/books" class="back">Back</a>
    </div>
    <div class = "col-md-3"></div>
</div>